@import '../../style/color.scss';

.container-sending {

    width: 100%;
    display: flex;
    min-height: 300px;
    flex-direction: column;
    background-color: #ddd;

}
 
.container-message{

    width: 100%;
    height: 100%;

}

.container-textarea{

    width: 100%;
    z-index: 20;
    position: relative;
    min-height: 300px;
    box-sizing: border-box;

}

.input {

    resize: none;
    outline: none;
    padding: 3px 5px;
    margin-bottom: 5px;

}

.input_img {

    width: 100%;
    min-height: 28px;

}

.container-button{

    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.btn-primary{

    margin: 5px;
    width: 80px;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    background-color: #eee;

    &:hover {

        background-color: whitesmoke;

    }

}

.btn-sender{

    border: none;
    padding: 7px 10px;

    &:hover {

        background-color: rgb(175, 175, 175);

    }

}

.message_from{

    width: 100%;
    color: $orange;
    padding: 2px 4px;

}

.container-error{

    display: flex;
    min-height: 300px;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;

}

.container_img{

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.sub_container-img{

    position: relative;
    display: inline-block;

    &:hover .close{

        opacity: 1;
        transition: all 0.2s;

    }

    background-color: white;

}

.close {

    top: 0;
    right: 0;
    opacity: 0;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    background-color: #eee;

}

.container_img-close{

    float: right;
    padding: 0 5px;

}