@import '../../style/color.scss';

.container-sending {

    width: 100%;
    display: flex;
    min-height: 300px;
    flex-direction: column;
    background-color: #ddd;

}
 
.container-message{

    width: 100%;
    height: 100%;

}

.container-textarea{

    width: 100%;
    resize: none;
    height: 100%;
    outline: none;
    padding: 3px 5px;
    min-height: 300px;
    box-sizing: border-box;

}

.container-button{

    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.btn-primary{

    margin: 5px;
    width: 80px;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    justify-content: center;
    background-color: #eee;

}

.btn-sender{

    border: none;
    padding: 7px 10px;

    &:hover {

        background-color: rgb(175, 175, 175);

    }

}

.message_from{

    width: 100%;
    color: $orange;
    padding: 2px 4px;

}