@import '../../style/color.scss';

.thread_container{

    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    min-height: 250px;
    margin: 20px auto;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: clamp(100px, 70%, 1980px);
    border-top: 1px solid $border;

}

.thread_info{

    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: flex-start;

}

.text{

    margin: 5px;

}

.image_container{

    float: left;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}

.thread_theam{

    color: $blue;

}

.answer {
    
    color: $orange;
    font-weight: bold;

}

.creator {

    text-align: start;
    text-decoration: 1px underline dotted black;

}

.thread_description {

    margin: 20px 0;
    font-weight: 100;
    overflow: hidden;
    max-height: 55px;
    text-align: start;
	display: -webkit-box;
	-webkit-line-clamp: 4;
    max-width: clamp(100px, 80%, 800px);

}

.spoiler {

    color: gray;
    cursor: pointer;
    background-color: gray;

    &:hover {

        color: black;

    }

}