@import "../../style/color.scss";

.layout {

    width: 100%;
    min-height: 150px;
    background-color: $white;

}

.header {


}

.footer {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    border-top: 1px solid #dddddd;

}

.creator_info{

    width: 100%;
    display: flex;
    min-height: 40px;

}

.sub-creator_info{

    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.link_info{

    color: blue;
    display: flex;
    text-decoration: none;

}