@import './color.scss';

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {

    background-color: $white;
    font-family: 'YS Text Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
}

.btn {

    cursor: pointer;

}